*{
    padding: 2%;
    margin: 0;
}

#game{
    margin: auto;
    width: 800px;
    height: 400px;
    border: 1px solid rgb(255, 184, 184);
    background-color: rgba(252, 236, 236, 0.61);
}

#ghost{
    position: relative;
    width: 125px;
    top: 260px;
}


/* we only want jump animation to work when we tell it to (with JS) so let's add a class .animate */
/* we will toggle this class w/ a JS f'n later */
.jump{
    animation: jump 0.4s linear;
}

/* JUMP animation */
@keyframes jump{
    0%{top: 220px;}
    20%{top: 220px;}
    60%{top: 120px;}
    100%{top: 220px;}
}

#grave{
    position: relative;
    width: 150px;
    top: 270px;
    left: 520px;
    animation: grave 1.5s infinite linear;
}
/*  to have block slide towards character - create animation, then add to block ^^ */

@keyframes grave{
    0%{left: 520px;}
    100%{left: -320px;}
}


/* -------------------------- MOBILE / RESPONSIVE STYLING  ----------------------*/

@media screen and (max-width: 600px)  {
    

    #game{
        margin: 15% 15% 0 10%;
        width: 50%;
        height: 200px;
    }

    #character{
        width: 16% ;
        height: 16%;
   }

   #block{
       width: 20%;
       height: 10%;
}


}